<form action="/update" method="post">

    <div>
        <input type="hidden" name="id" value="{{sql2.id}}">
        <input type="text" name="name" placeholder="Nome do cliente" value="{{sql2.name}}">
            <br><br>
        <input type="text" name="descriçao" placeholder="O que o cliente pediu?" value="{{sql2.descriçao}}">
                <br><br>
        

    </div>
    <br>
         <input type="submit" value="editar">

</form>