

<form action="/lookingfor" method="post">

    <div>
        <input type="text" name="search" placeholder="pesquisar">
        <input type="submit" value="pesquisar">
    </div>
    

</form>
<br><br>

<form action="/insert" method="post">

    <div>

        <input type="text" name="name" placeholder="Nome do cliente">
            <br><br>
        <input type="text" name="descriçao" placeholder="O que o cliente pediu?">
                <br><br>
       

    </div>
    <br>
         <input type="submit" value="postar">

</form>
<br><br>
<form action="/vertudo" method="post">
    <input type="submit" value="Ver todos">
</form>