<h1>search</h1>

{{#each resultadoNomeCliente }} 

    <div> 
        
        <h1>{{this.name}}</h1>
        <h1>{{this.descriçao}}</h1>
       
        
    
    </div>
    <div style="display: flex;">
    <a href="/editar?id={{this.id}}">editar</a>

    <form action="/deletar" method="post">
        <input type="hidden" name="id" value="{{this.id}}">
        <input type="submit" value="deletar">
    </form>
    </div>

{{/each}}
